<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">
	<head>
		<meta charset="UTF-8">
		<title>My Private Cloud Login Page</title>
	</head>

	<body>
		<div layout:fragment="content">
			<div class="container" style="width:50%">
				<form class="form-horizontal" action="#" th:action="@{/login-register/}" th:object="${loginModel}" method="post">
					<div class="form-group row">
				    	<label for="username" class="col-form-label text-right col-md-4">User Name</label>
				    	<div class="col-md-4">
				    		<input type="text" class="form-control" id="username" placeholder="Enter Account Username" th:field="*{username}" required />
				    	</div>
				    </div>
					<div class="form-group row">
				    	<label for="password" class="col-form-label text-right col-md-4">Password</label>
				    	<div class="col-md-4">
					    	<input type="password" class="form-control" id="password" placeholder="Enter Account Username" th:field="*{password}"required />
				    	</div>
				    </div>
			  		<button type="submit" class="btn btn-primary">Log In</button>
					<div th:if="${#fields.hasErrors('*')}">List of Field Validation Erors</div>
	   			 	<div th:each="err : ${#fields.errors('*')}">
	             		<span th:text="${err}" class="fieldError error"></span>
	             	</div>
				</form>		
			</div>		
 		</div>	
	</body>

</html>



